# Dépendances
node_modules/

# Variables d'environnement
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage / tests
coverage/

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp
*.code-workspace
